# Environment variables
.env
.env.*
*.env

# Spring Boot secrets
application.properties
application-*.properties

# Java
target/
*.class
*.log

# React / Node
node_modules/
dist/
build/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db